.navbar-brand {
    color: #F5E484 !important;
}

.dropdown-item {
    color: rgba(255,255,255,.55) !important;
    background-color: transparent !important;
}

.dropdown-menu a:hover {
    background-color: #3F2759 !important;
}
