

/* img pokemon */
.img-front-pokemon {
    width: 25em;
    height: 25em;
}

/* nav tabs */

.nav-tabs .nav-link {
    color: white !important;
}

.nav-tabs .nav-link.active {
    background-color: #F5E484 !important;
    color: #1C1324 !important;
}
.nav-tabs .nav-link-tab:hover {
    background-color: #F5E484 !important;
    color: #1C1324 !important;
}

/* tables  */
.table-icon{
    width: 2em;
    height: 2em;
}

@media only screen and (min-width: 1200px) {
    .table-container {
        display: grid;
        grid-template-columns: repeat(2, [col-start] 1fr);
        grid-template-rows: repeat(3,fit-content) auto;
    }
    .table-level {
        width: 100%;
        grid-column: col-start / 2;
    }

    .table-machine {
        width: 100%;
        grid-column: col-start 2 / 3;
        grid-row: 1 / 4;
    }

    .table-egg {
        width: 100%;
        grid-column: col-start / 2;
        grid-row: 2;
    }
}
