

/* img pokemon */
.img-front-pokemon {
    width: 25em;
    height: 25em;
}

/* nav tabs */

.nav-tabs .nav-link {
    color: white !important;
}

.nav-tabs .nav-link.active {
    background-color: #F5E484 !important;
    color: #1C1324 !important;
}
