

/* img pokemon */
.img-front-pokemon {
    width: 25em;
    height: 25em;
}


/* list items */
.glass-card {
    /* From https://css.glass */
   
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    
    border: 1px solid rgba(63, 39, 89, 0.21);

    background: rgba(63, 39, 89, 0.24) !important;
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
}
/* nav tabs */

.nav-tabs .nav-link {
    color: white !important;
}

.nav-tabs .nav-link.active {
    background-color: #F5E484 !important;
    color: #1C1324 !important;
}

.nav-tabs .nav-link-tab:hover {
    background-color: #F5E484 !important;
    color: #1C1324 !important;
}

/* tables  */
.table-icon{
    width: 2em;
    height: 2em;
}